.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: $white;
  box-shadow: 0px 22px 24px rgba(0, 0, 0, 0.04),
    0px 6.63236px 7.2353px rgba(0, 0, 0, 0.03),
    0px 2.75474px 3.00517px rgba(0, 0, 0, 0.02),
    0px 0.996336px 1.08691px rgba(0, 0, 0, 0.01);

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation-name: sticky;
    animation-duration: 0.4s;
  }
  &__inner {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-side {
      display: flex;
      align-items: center;
    }
    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 123px;
      img {
        width: 100%;
      }
    }
    .button {
      padding: 6px 16px;
    }
  }
}
// 1180px
@mixin header-xlg-xxlg {
  .header {
    &__inner {
      &-logo {
        width: 107px;
      }
    }
  }
}
// 1024px
@mixin header-lg-xlg {
  .header {
    &__inner {
      padding: 16px 0;
      &-logo {
        position: relative;
        z-index: 12;
      }
      .button {
        padding: 4px 12px;
      }
    }
  }
}
@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
